.coverage
.quarto_cache/
docs/comparison_simlr_lend_basic_files/
docs/deep_simr_tutorial_files/
docs/lend_simr_tutorial_files/
docs/tutorial_domain_knowledge_files/
src/pysimlr/benchmarks/__pycache__/
src/pysimlr/benchmarks/__pycache__/runner.cpython-312.pyc
*pdf
output_figures
docs/*sv
docs/*html
benchmarks/__pycache__/
src/pysimlr/__pycache__/
.agentantsx_workflow
INSTRUCTIONS.md
reference_r
src/pysimlr.egg-info
src/pysimlr.egg-info/*
tests/__pycache__/
src/pysimlr/__pycache__/__init__.cpython-312.pyc
src/pysimlr/__pycache__/optimizers.cpython-312.pyc
src/pysimlr/__pycache__/regression.cpython-312.pyc
src/pysimlr/__pycache__/simlr.cpython-312.pyc
src/pysimlr/__pycache__/sparse.cpython-312.pyc
src/pysimlr/__pycache__/sparsification.cpython-312.pyc
src/pysimlr/__pycache__/svd.cpython-312.pyc
src/pysimlr/__pycache__/utils.cpython-312.pyc
tests/__pycache__/test_pysimlr.cpython-312-pytest-9.0.2.pyc
tests/__pycache__/test_pysimlr.cpython-312-pytest-9.0.3.pyc
.coverage
*.csv
.pytest_cache/
detailed_figures/
docs/comparison_simlr_lend.quarto_ipynb_1

/.quarto/
**/*.quarto_ipynb
